<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIEFLIX</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="Movies.css">
    <link rel="icon" href="../../IMAGES/M.png" type="image/png">
    
</head>


<body>
<!-- Loader -->
<div id="loader">
    <div class="spinner"></div>
</div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../Film.html"><img src="../../IMAGES/MOVIEFLIX.png" alt="Logo" class="LOGO" width="100"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="../../Film.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="../TV_SHOWS/tvshows.html">TV Shows</a></li>
                    <li class="nav-item"><a class="nav-link" href="Movies.html">Movies</a></li>
                    <li class="nav-item"><a class="nav-link" href="#new-popular">New & Popular</a></li>
                    <li class="nav-item"><a class="nav-link" href="#my-list">My List</a></li>
                    <li class="nav-item">
                        <a href="../Sign_in/sign-in.html" class="btn btn-outline-danger ms-2">Sign In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Movie Section -->
    <section class="py-5">
        <div class="container">
            
            <div class="row">
                <!-- Movie 1 -->
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <div class="movie-card" data-bs-toggle="modal" data-bs-target="#movieModal1">
                        <img src="https://m.media-amazon.com/images/M/MV5BZGM4MzY3NzYtYjViZS00MmE4LTgxZmMtNTZkNDM5MDIwMDg1XkEyXkFqcGc@._V1_.jpg" 
                             alt="Supergirl" 
                             class="img-fluid movie-poster">
                        <h5 class="movie-title">Supergirl</h5>
                        <p class="movie-desc">A superheroine fights for justice while hiding her true identity.</p>
                    </div>
                </div>
                <!-- Movie 2 -->
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <div class="movie-card" data-bs-toggle="modal" data-bs-target="#movieModal2">
                        <img src="https://m.media-amazon.com/images/M/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@._V1_FMjpg_UX1000_.jpg" 
                             alt="Avengers Endgame" 
                             class="img-fluid movie-poster">
                        <h5 class="movie-title">Avengers Endgame</h5>
                        <p class="movie-desc">After the devastating events of Avengers: Infinity War (2018), the universe is in ruins.</p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <div class="movie-card" data-bs-toggle="modal" data-bs-target="#movieModal3">
                        <img src="https://m.media-amazon.com/images/M/MV5BZGQwNDdhODAtY2Y0Ni00YzFhLTk1OGUtY2RkMDAzNzBmZjAxXkEyXkFqcGc@._V1_.jpg" 
                             alt="Extraction 2" 
                             class="img-fluid movie-poster">
                        <h5 class="movie-title">Extraction 2</h5>
                        <p class="movie-desc">After barely surviving his grievous wounds from his mission in Dhaka, Bangladesh.</p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                  <div class="movie-card" data-bs-toggle="modal" data-bs-target="#movieModal4">
                      <img src="https://m.media-amazon.com/images/M/MV5BOGNjNGQ3MmItYTM5NS00NjBiLWI0ZTItZDE5ZjQyNjg3ODBjXkEyXkFqcGc@._V1_.jpg" 
                           alt="Red Notice" 
                           class="img-fluid movie-poster">
                      <h5 class="movie-title">Red Notice</h5>
                      <p class="movie-desc">An Interpol agent successfully tracks down the world's most wanted art thief with help from a rival thief.</p>
                  </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                  <div class="movie-card" data-bs-toggle="modal" data-bs-target="#movieModal5">
                      <img src="https://m.media-amazon.com/images/M/MV5BZTUzZTMyYmUtNDdiOC00ZmM1LTllMjUtNjI5OWNkYjQyZWMyXkEyXkFqcGc@._V1_.jpg" 
                           alt="Damsel" 
                           class="img-fluid movie-poster">
                      <h5 class="movie-title">Damsel</h5>
                      <p class="movie-desc">A dutiful damsel agrees to marry a handsome prince, only to find the royal family has recruited her </p>
                  </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                  <div class="movie-card" data-bs-toggle="modal" data-bs-target="#movieModal6">
                      <img src="https://m.media-amazon.com/images/M/MV5BOTM5OTQ2ZTYtY2EzMC00Zjc3LTg3NWEtZWI4OTdlMjcwMGFlXkEyXkFqcGc@._V1_.jpg" 
                           alt="Heart of Stone" 
                           class="img-fluid movie-poster">
                      <h5 class="movie-title">Heart of Stone</h5>
                      <p class="movie-desc">An intelligence operative for a shadowy global peacekeeping agency races to stop a hacker</p>
                  </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                  <div class="movie-card" data-bs-toggle="modal" data-bs-target="#movieModal7">
                      <img src="https://m.media-amazon.com/images/M/MV5BNTNmZDgzMmMtMzJhMy00NGI3LWI5YTktYjg5MTllZmYyYTMxXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg" 
                           alt="6 underground" 
                           class="img-fluid movie-poster">
                      <h5 class="movie-title">6 underground</h5>
                      <p class="movie-desc">Directed by Michael Bay. With Ryan Reynolds, Mélanie Laurent, Manuel Garcia-Rulfo.</p>
                  </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                  <div class="movie-card" data-bs-toggle="modal" data-bs-target="#movieModal8">
                      <img src="https://m.media-amazon.com/images/M/MV5BZjUwZjg2ZjAtY2RhZi00YmZjLTlhNGQtOWQwNDk1MjhhM2NhXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg" 
                           alt="Mission: Impossible-Rogue Nation" 
                           class="img-fluid movie-poster">
                      <h5 class="movie-title">Mission: Impossible-Rogue Nation</h5>
                      <p class="movie-desc">Ethan and his team take on their most impossible mission </p>
                  </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                  <div class="movie-card" data-bs-toggle="modal" data-bs-target="#movieModal9">
                      <img src="https://m.media-amazon.com/images/M/MV5BNzY3OWQ5NDktNWQ2OC00ZjdlLThkMmItMDhhNDk3NTFiZGU4XkEyXkFqcGc@._V1_QL75_UX190_CR0,0,190,281_.jpg" 
                           alt="joker" 
                           class="img-fluid movie-poster">
                      <h5 class="movie-title">joker</h5>
                      <p class="movie-desc">Directed by Todd Phillips. With Joaquin Phoenix, Robert De Niro, Zazie Beetz, Frances Conroy.</p>
                  </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                  <div class="movie-card" data-bs-toggle="modal" data-bs-target="#movieModal10">
                      <img src="https://m.media-amazon.com/images/M/MV5BMjMyNDkzMzI1OF5BMl5BanBnXkFtZTgwODcxODg5MjI@._V1_.jpg" 
                           alt="Thor ragnarok" 
                           class="img-fluid movie-poster">
                      <h5 class="movie-title">Thor ragnarok</h5>
                      <p class="movie-desc">Directed by Taika Waititi. With Chris Hemsworth, Tom Hiddleston, Cate Blanchett, Idris Elba</p>
                  </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                  <div class="movie-card" data-bs-toggle="modal" data-bs-target="#movieModal11">
                      <img src="https://m.media-amazon.com/images/M/MV5BOWNmYjMxNmItYTRkMi00ZThjLTlmYzgtYTZhOTM0OWYyMzAzXkEyXkFqcGc@._V1_.jpg" 
                           alt="American Pie" 
                           class="img-fluid movie-poster">
                      <h5 class="movie-title">American Pie 2</h5>
                      <p class="movie-desc">Directed by Paul Weitz, Chris Weitz. With Jason Biggs, Jennifer Coolidge, Shannon Elizabeth</p>
                  </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                  <div class="movie-card" data-bs-toggle="modal" data-bs-target="#movieModal12">
                      <img src="https://m.media-amazon.com/images/M/MV5BZmQzMTMwOTItYjUyMS00NDY4LThmOWEtZjE3ODkyMzg3MDdlXkEyXkFqcGc@._V1_.jpg" 
                           alt="The last kingdom" 
                           class="img-fluid movie-poster">
                      <h5 class="movie-title">The last kingdom</h5>
                      <p class="movie-desc">Seven Kings Must Die: Directed by Edward Bazalgette. With Mark Rowley, Pekka Strang</p>
                  </div>
                </div>

            </div>
            </div>
        </div>
    </section>

    <!-- Modal for Movie 1 -->
    <div class="modal fade" id="movieModal1" tabindex="-1" aria-labelledby="movieModal1Label" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="movieModal1Label">Supergirl Trailer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <iframe width="100%" height="400px" src="https://www.youtube.com/embed/49RZx5tUKM4" 
                    title="Supergirl Trailer"  
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen autoplay>
            </iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for Movie 2 -->
    <div class="modal fade" id="movieModal2" tabindex="-1" aria-labelledby="movieModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="movieModal1Label">Avengers Endgame</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="400px"
                src="https://www.youtube.com/embed/TcMBFSGVi1c"
                title="Marvel Studios&#39; Avengers: Endgame - Official Trailer" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen autoplay mute></iframe>
            </div>
          </div>
        </div>
      </div>

    <div class="modal fade" id="movieModal3" tabindex="-1" aria-labelledby="movieModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="movieModal1Label">Extraction 2</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe width="100%" height="400px" src="https://www.youtube.com/embed/Y274jZs5s7s" 
              title="EXTRACTION 2 | Official Trailer | Netflix" frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal fade" id="movieModal4" tabindex="-1" aria-labelledby="movieModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="movieModal1Label">Red Notice</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe width="100%" height="400px" src="https://www.youtube.com/embed/Pj0wz7zu3Ms" title="RED NOTICE | Official Trailer | Netflix" 
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="movieModal5" tabindex="-1" aria-labelledby="movieModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="movieModal1Label">Damsel</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe width="100%" height="400px" src="https://www.youtube.com/embed/iM150ZWovZM" title="Damsel | Official Trailer | Netflix" 
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="movieModal6" tabindex="-1" aria-labelledby="movieModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="movieModal1Label">Heart of Stone</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe width="100%" height="400px" src="https://www.youtube.com/embed/XuDwndGaCFo" title="Heart of Stone | Gal Gadot | Official Trailer | Netflix" 
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="movieModal7" tabindex="-1" aria-labelledby="movieModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="movieModal1Label">6 underground</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe width="100%" height="400px" src="https://www.youtube.com/embed/YLE85olJjp8" title="6 Underground starring Ryan Reynolds | Official Trailer | Netflix" 
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="movieModal8" tabindex="-1" aria-labelledby="movieModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="movieModal1Label">Mission: Impossible-Rogue Nation</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe width="100%" height="400px" src="https://www.youtube.com/embed/F-qBD17wwrQ" title="Mission: Impossible Rogue Nation Trailer 2" 
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="movieModal9" tabindex="-1" aria-labelledby="movieModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="movieModal1Label">Joker</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe width="100%" height="400px" src="https://www.youtube.com/embed/zAGVQLHvwOY" title="JOKER - Final Trailer - Now Playing In Theaters"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="movieModal10" tabindex="-1" aria-labelledby="movieModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="movieModal1Label">Thor:Ragnarok</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe width="100%" height="400px" src="https://www.youtube.com/embed/ue80QwXMRHg" title="&quot;Thor: Ragnarok&quot; Official Trailer"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="movieModal11" tabindex="-1" aria-labelledby="movieModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="movieModal1Label">American pie 2</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe width="100%" height="400px" src="https://www.youtube.com/embed/FLWu4KewJlU" title="American Pie 2 - Trailer"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="movieModal12" tabindex="-1" aria-labelledby="movieModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="movieModal1Label">The last kingdom :Seven Kings Must Die</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe width="100%" height="400px" src="https://www.youtube.com/embed/eqCYw_o5lng" title="Seven Kings Must Die | Official Trailer | Netflix"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </div>

      
    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2024 MOVIEFLIX | Designed by SESAME STUDENTS</p>
    </footer>
    
    <script src="Movies.js"></script>
</body>
</html>
